@media (min-width: 769px) {
	.main-header,
	.nav-items {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.main-header {
		position: relative;
	}
	.nav-items {
		position: absolute;
		top: 0;
		right: 0;
	}

	
}

